

html{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.encabezado{
  display: flex; 
  width: 100%; 
  background-color: white;  
  align-items: center;
}


.quienes_somos:hover{
 font-weight: bold
}

.equipo:hover{
  font-weight: bold
}

.vacantes:hover{
  font-weight: bold
}

.servicios:hover{
  font-weight: bold
}

.contacto:hover{
  font-weight: bold
}

header nav ul{
  display: flex;
  list-style: none;
}

header nav ul li{
 margin: 20px;
}

nav{
  text-align: justify;
  background-color: white;
}

   
nav a {
  color: #959595;
  text-decoration: none;  
}

.foto-de-fondo{
 background-image: url(../assets/banner\ 3\ -\ mision.jpg); 
 background-repeat: no-repeat;
 background-size: cover;
 text-align: center;
 padding: 100px;
 color: #FFFFFF;
}


h1{  
  color: #fcfafa;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 62px;    
}


h2{
  color: #C4847A;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  margin-top: 50px;     
}

.oportunidades{
  color: #C4847A;
  font-weight: bolder;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 40px; 
  margin-top: 50px;  
}

.parrafo-index{
  color: #959595;
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;  
  margin: 20px auto; 
  padding: 10px;
  max-width: 900px;
}

.grid_conteiner{
  display: flex;
  margin: 50px;     
}

.grid_item1{
  text-align: left;
  margin: 22px;     
}

.grid_item2{
  text-align: left;
  margin: 22px;      
}

.grid_item3{
  text-align: left;
  margin: 22px;      
}

.grid_item4{
  text-align: left;
  margin: 22px;      
}

.fernanda{
  display: flex;
  color: #959595;
  background-color: #F2F2F2;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 20px; 
  margin: 0%;
}

.cv-fernanda{
  margin: 50px;
}

.carolina{
  display: flex;
  color: #959595;
  background-color: #EBE8E8;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 20px; 
  margin: 0%;
}

.cv-carolina{
  margin: 50px;
}

.ariel{
  display: flex;
  color: #959595;
  background-color: #D9D5D5;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 22px;
  padding: 20px; 
  margin: 0%;
}

.cv-ariel{
  margin: 50px;
}

p{
  color: #B3B1B1;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  size: 3px;     
}

div{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: #CD7C7B;       
}

.conteiner-btn{
  text-align: center;
  padding: 10px 20px; 
  background-position: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: #ffffff;  
  margin-bottom: 80px;  
  margin-top: 80px;     
}



.icono-wpp{
  position: fixed;
  left: 25px;
  bottom: 15px;
}

.footer {
  background-color: #333; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px 0; /* Espaciado superior e inferior */
}



.pie{
  background-color: #C4847A; /* Color de fondo */
  color: #fff; /* Color del texto */
  text-align: center; /* Centrar el texto */
  padding: 20px 0; /* Espaciado superior e inferior */
}
